
@import url(/table.css);
@import url(/words.css);
body {
    margin: 15px;
    max-width: 600px;
    max-height: 500px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

main {
    background-image: url(/assets/fondo_vintage.jpg);
    max-width: 500px;
    max-height: 400px;    
}

h2 {
    text-align: center;
}